<div class="sidebar">
	<%= link_to root_path do %>
		<h1>Trackburst</h1>
	<% end %>

	<% if @user == current_user %>

		<% content_for :title do %>
			 My Likes | Trackburst
		<% end %>

		<h2 class="icon-heart red-icon">My likes</h2>
		<%= link_to root_path(:skip_intro => true),
								:class => "btn btn--blue",
								:onClick => "_gaq.push(['_trackEvent',
																				'Play',
																				'From My Likes',
																				'#{@user.share_token}']);" do %>
			Play again  <i class="icon-play"></i>
		<% end %>

		<div class="l-bottom sidebar__share">
			Share your burst
			<%= render :partial => "share_icons" %>
		</div>

	<% else %>

		<h2><%= tagline %></h2>
		<%= link_to root_path(:skip_intro => true),
								:class => "btn btn--blue",
								:onClick => "_gaq.push(['_trackEvent',
																				'Play',
																				'From Their Likes',
																				'#{@user.share_token}']);" do %>
			Play Now  <i class="icon-play"></i>
		<% end %>

		<nav class="l-bottom">
			<%= render :partial => "nav",
								 :locals => { :rendered_from => "sidebar" } %>
		</nav>

	<% end %>

</div>
