<% content_for :head do %>
	<script>
		var tracksInfo = <%=j @tracks.to_json.html_safe %>;
		var shareToken = <%=j current_user.share_token.to_json.html_safe %>;
	</script>

	<%= javascript_include_tag "blast" %>
<% end %>

<div class="loading-bar-bg">
</div>

<div class="container">

	<div id="page-home">
		<h1 class="home-heading">Trackblast</h1>
		<h2 class="home-lead"><%= tagline %></h2>

		<nav class="l-bottom-right home-nav">
			<ul>
				<% if current_user.like_votes.exists? %>
					<li><%= link_to "My Likes", results_path(current_user.share_token), :class => "icon-heart" %></li>
				<% end %>
				<li><%= mail_to "hello@trackblast.com", "Contact Us", :class => "icon-email" %></li>
			</ul>
		</nav>

		<button class="btn--large btn--blue js-start-button">
			Let's Play <i class="icon-play"></i>
		</button>

	</div>

	<div id="page-get-ready" style="display:none">
		<h1 class="js-ready-heading ready-heading animated">Ready?</h1>
	</div>

	<div class="instructions l-bottom">
		<div class="box key js-like-key">A</div>
		<label class="key-label">to like,</label>
		<div class="box key js-dislike-key">L</div>
		<label class="key-label">to pass</label>
	</div>

</div>

<div class="feedback-icon animated">
</div>

