<script>
$(function(){
		$('.js-play-preview').click(function(e){
		e.preventDefault();
		var audio = $(this).find('audio');
		audio.get(0).play();
	});
});
</script>


<ul class="track-list">
	<% @tracks.each do |track| %>

		<li>
			<a href="#" class="js-play-preview track__image">
				<audio src="<%= track.preview_url %>" volume="0"></audio>
				<i class="icon-play-circled track__play-icon"></i>
				<%= image_tag track.artwork_url %>
			</a>
			<div class="track__body">
				<%= link_to "Get Song", track.view_url, :class => "track__link btn" %>
				<span class="track__name"><%= track.name %></span>
				<%= link_to track.artist_name, track.artist_view_url, :class => "track__artist" %>
				<span class="track__album"><%= track.album_name %></span>
			</div>
		</li>

	<% end %>
</ul>